form {
  max-width: 500px;
  margin: 20px auto;
}
form label {
  font-size: 16px;
  font-weight: 400;
}
form input {
  margin: 0 0 30px 0;
  width: 60%;
  height: 40px;
  font-size: 18px;
  padding-left: 0.4em;
  color: #333;
}
form textarea {
  width: 100%;
  min-height: 150px;
  font-size: 18px;
  padding: 0.8em;
  color: #333;
}
form p {
  text-align: left;
}
form button {
  margin: 0 auto;
}
