.hero-wrapper {
    min-height: 500px;
    background-size: cover;
    background-position: top center;
    position: relative;
    
    div {
        position: absolute;
        bottom: 15%;
        // left: 50px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background: rgba(0,0,0,0.4);
        padding: 0 0.51em;
        .sub & {
            bottom: 30%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    h1 {
        font-size: 100px;
        font-weight: 400;
        color: #fff;
    }

    p {
        color: #fff;
        margin-left: 5px;
    }

}