@import url('https://fonts.googleapis.com/css2?family=Alice&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

// font-family: 'Alice', serif;
// font-family: 'Source Sans Pro', sans-serif;

h1, h2, h3, h4, h5 {
    font-family: 'Alice', serif;
    margin: 0;
    padding:0;
}